{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "indent": [2, 4, { "SwitchCase": 1 }],
    "comma-dangle": [2, "never"],
    "react/jsx-indent": [1, 4]
  },
  "globals": {
    "document": false
  }
}